/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  background-color: #fff;
}
.btn {
  color: blue; /* Text color */
  background-color: transparent; /* Remove background */
  border: none;
  padding: 10px;
  font-size: 24px;
}
@media (max-width: 768px) {
  .btn {
      background-color: transparent; /* Ensure consistency */
      color: pink;
  }
}
a.btn:focus,
a.btn:active {
  outline: none; /* Remove focus styles */
  background-color: transparent; /* No active state */
}
table.demo {
  width:90%;
  text-align:center;
}
.demo img {
  width:300px;
}
td.prompt {
  width:100%;
  text-align:center;
  font-family: monospace;
  font-size:150%;
}
td.prompt a {
  color:#ddd;
  text-decoration:none;
}
td.prompt a:hover, td.prompt a.active {
  color:black;
  text-decoration:none;
}
.img-stack {
  position:relative;
  display: block;
  width:300px;
  height:300px;
}
.img-stack img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.img-stack img.active {
  z-index: 1;
}
.img-stack .overlay {
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: opacity .2s;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
}
.carousel {
  position:relative;
  width:650px;
  height:385px;
  overflow:hidden;
}
.carousel > table {
  position:absolute;
  top: 0px;
  transition: left 1s;
  width:650px;
}
.carousel_table td {
  text-align:center;
}
.carousel_table td:nth-child(2) {
  font-size:150%;
}
pre {
  background-color:#eee;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
white-space: break-spaces;
width:80%;
text-align:left;
}
td.gif {
  width: 33%;
  font-family: monospace;
  font-size: 120%;
}
.dl_link {
  display: inline-block;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.dl_link, .dl_link td {
  color: black;
  text-decoration: none;
  font-size: 120%;
}
.dl_link, .dl_link table {
  border-radius: 5px;
  background-color: none;
}
.dl_link:hover, .dl_link:hover * {
  color: #404040 !important;
  background-color: #d9d9d9 !important;
}
@media only screen and (max-width: 930px) {
  .content { width:100% !important; }
}
.content {
  width: 1100px;
  padding: 25px 50px;
  margin: 25px auto;
  background-color: white;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
  font-family: "Google Sans";
}
.contentblock {
  width: 950px;
  margin: 0 auto;
  padding: 0;
  border-spacing: 25px 0;
}
.contentblock td {
  background-color: #fff;
  padding: 25px 50px;
  vertical-align: top;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
}
a {
  /* color: #224b8d; */
  color: #EA48CA;
  font-weight: 300;
  text-decoration: none;
}
a:visited, a:hover {
  /* color: #224b8d; */
  color: #EA48CA;
  font-weight: 300;
  text-decoration: underline;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #EA48CA;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EA48CA;
  /* transform-origin: bottom right; */
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}
.hover-underline-animation-black {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation-black::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  /* transform-origin: bottom right; */
  transition: transform 0.25s ease-out;
}
.hover-underline-animation-black:hover::after {
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}
.hover-underline-animation-blue {
  display: inline-block;
  position: relative;
  color: #224b8d;
}
.hover-underline-animation-blue::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #224b8d;
  /* transform-origin: bottom right; */
  transition: transform 0.25s ease-out;
}
.hover-underline-animation-blue:hover::after {
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}
#authors {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
#conference {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}
#authors a {
  margin: 0 10px;
}
h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: 300;
}
h3 {
  font-size: 15px;
  font-weight: 300;
}
code {
  display: block;
  padding: 10px;
  margin: 10px 10px;
}
p {
  line-height: 25px;
  text-align: justify;
}
p code {
  display: inline;
  padding: 0;
  margin: 0;
}
#teasers {
  margin: 0 auto;
}
#teasers td {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
#teasers img {
  width: 250px;
}
#results img {
  width: 133px;
}
#seeintodark {
  margin: 0 auto;
}
#sift {
  margin: 0 auto;
}
#sift img {
  width: 250px;
}
.downloadpaper {
  padding-left: 20px;
  float: right;
  text-align: center;
}
.downloadpaper a {
  font-weight: bold;
  text-align: center;
}
.teaser-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.teaser-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.summary-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.video-iframe {
  width: 1000;
  height: 800;
  margin: auto;
  display: block;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}
.image {
  flex-basis: 40%
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.boxshadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px 5px #888888;
}
.spacertr {
  height: 8px;
}
.spacertd {
  width: 40px;
}
.container {
  width: 100%;
  height: auto;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  width: 100%;
  height: fit-content;
}
.swiper-slide img {
  width: 100%;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #ea48ca;
}
.btn-primary {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  /* color: #ea48ca !important; */
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  /* background-color:#8A8A8A !important; */
  background-color: black !important;
  /* border-color: #8A8A8A !important; */
}
.btn-outline-primary {
  /* background-color: #ea48ca !important; */
  border-color: #ea48ca !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
  background-color:#FCECF9 !important;
  /* border-color: #FCECF9 !important; */
}
.material-icons {
  vertical-align: -6px;
}